@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root{
    --primary-color: #4daf54;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins" sans-serif;
    height: 100vh;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
}

.card{
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background-color: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
}
.card-heart, .cart-card{
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    cursor: pointer;
}
.cart-card{
    left: unset;
    right: 20px;
}

.card-img{
    width: 80%;
    transition: 0.5s;
}

.card-img img{
    width: 120%;
    height: 120%;
    object-fit: cover;
}
.card-title, .card-price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: .6s;
}

.card-title{
    color: var(--primary-color);
}
.card-size, .card-color{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.card-size span{
    padding: 2px 10px;
    background: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0 6px;
    cursor: pointer;

}

.card-color span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;

}
.card-color--Green{
    background-color: green;
}
.card-color--Blue{
    background-color: blue;
}
.card-color--Black{
    background-color: black;
}
.card-actor button{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    transition: .25s;
    cursor: pointer;
}

.card-actor button:hover{
    transform: scale(.9);
}

.card:hover .card-img{
    transform: translateY(-70px) rotate(-20deg);
}
.card:hover .card-title{
    transform: translate(-37px, -73px)
}
.card:hover .card-price{
    transform: translate(-100px, -73px)
}

.card-size{
    margin-top: 160px;

}

.card-size, .card-color, .card-actor{
    visibility: hidden;
    opacity: 0;
    transition: .6s;
    transition-delay: .4s;
}

.card:hover  .card-size,
.card:hover .card-color, 
.card:hover .card-actor{
    visibility: visible;
    opacity: 100;
}

.card:hover .card-size{
    margin-top: -10px;
}